@import "./theme/colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
@import "./utils.scss";
@import "./variables.scss";

body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $opposite-color;
}

// MUI Overwrites

.MuiTooltip-tooltip {
  margin-top: 8px !important;
  padding: 8px 12px !important;
  background: $tooltip-bg !important;
  border: $border-thick;
}

.MuiTooltip-arrow {
  font-size: 18px;
  color: $border-color !important;
}
.css-kudwh-MuiTooltip-arrow::before {
  color: $tooltip-bg;
  border: $border-thick;
}

@import "./pages.scss";
@import "./components.scss";
