@import './theme/colors.scss';
@import url('./fonts.scss');
@import './utils.scss';
@import './variables.scss';

body {
  margin: 0;
  font-family: 'Nunito Sans Regular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// MUI Overwrites

.MuiTooltip-tooltip {
  margin-top: 8px !important;
  padding: 8px 12px !important;
  background: var(--color-black) !important;
  border: $border-thick;
}

.MuiTooltip-arrow {
  font-size: 18px;
  color: var(--tooltip-arrow-color) !important;
}
.css-kudwh-MuiTooltip-arrow::before {
  color: var(--color-black);
  border: $border-thick;
}

@import './pages.scss';
@import './components.scss';
