.main-layout {
  display: flex;
  background-color: $base-color;
  color: $opposite-color;
}

.layout-container {
  width: 83vw;
  height: 100vh;
  color: $opposite-color;
}

.login-page {
  height: 100vh;
}

.signup-page {
  height: 100vh;
}
