.main-layout {
  display: flex;
  background-color: var(--base-color);
  color: var(--color-light-gray);
  font-size: 17px;
}

.layout-container {
  width: 83vw;
  height: 100vh;
  color: var(--text-primary);
}

.login-page {
  height: 100vh;
}

.signup-page {
  height: 100vh;
}

.forgot-password-page {
  height: 100vh;
}
