:root,
body {
  --color-white: rgba(255, 255, 255, 1);
  --color-black: rgb(0, 0, 0);
  --color-active: rgba(0, 122, 90, 1);
  --color-inactive: rgba(153, 152, 155, 1);
  --duration-color: rgba(171, 171, 173, 1);
  --color-gray: rgba(154, 154, 157, 1);
  --color-light-gray: rgba(209, 210, 211, 1);
  --color-light-blue: rgba(17, 100, 163, 1);
  --color-yellow: rgba(232, 145, 45, 1);
  --color-light-red: rgba(220, 76, 100, 1);
  --color-dark-red: rgba(246, 33, 33, 1);
  --color-red: rgba(255, 76, 84, 1);
  --color-green: rgb(7, 188, 12, 1);

  --base-color: rgba(26, 29, 33, 1); // Main Background
  --dark-accent: rgba(25, 23, 29, 1); // Sidebar Color
  --light-accent: rgba(34, 37, 41, 1); // Message Sender

  // text color
  --text-primary: rgba(154, 154, 157, 1);
  --text-secondary: rgba(26, 29, 33, 1);

  // button color
  --primary-btn-text-color: rgba(170, 171, 173, 1);
  --primary-btn-btn-bg-color: rgba(53, 55, 59, 1);
  --primary-btn-border-color: rgba(81, 83, 87, 1);
  --primary-gradient-color: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

  // tooltip color
  --tooltip-arrow-color: rgba(43, 42, 47, 1);

  // hover color
  --color-light-gray-hover: rgba(249, 251, 253, 1);
  --primary-btn-hover-color: rgba(34, 37, 41, 1);
  --secondary-btn-hover-color: rgb(234, 232, 232);

  // avatar color
  --avatar-bg-color: rgba(26, 29, 33, 1);
  --profile-bg-color: rgba(45, 117, 172, 1);
  --avatar-dm-bg-color: rgba(43, 42, 48, 1);

  // common border
  --primary-border: rgba(53, 55, 59, 1);

  // user status color
  --profile-status-inactive-bg-color: rgba(25, 23, 29, 1);

  // mention color
  --mention-content-color: rgb(19, 168, 232);
  --mention-content-bg-color: rgba(34, 49, 58, 1);

  // scrollbar color
  --scrollbar-track-thumb-color: rgba(125, 128, 130, 1);

  // messages container
  --primary-hover-bg-color: rgba(34, 37, 41, 1);
  --edit-delete-btn-border-color: rgba(58, 60, 63, 1);
  --edit-delete-icon-color: rgba(255, 255, 255, 1);
  --edit-delete-icon-bg-color: rgba(14, 17, 20, 1);
  --edit-delete-icon-hover-color: rgba(34, 37, 41, 1);

  // message Editor
  --message-sender-editor-bg-color: rgba(34, 37, 41, 1);
  --message-sender-editor-toolbar-bg-color: rgba(34, 37, 41, 1);
  --message-sender-editor-border-color: rgba(86, 88, 92, 1);
  --message-sender-editor-focus-border-color: rgba(129, 131, 133, 1);
  --message-sender-placeholder-color: rgba(119, 121, 123, 1);

  --toolbar-icon-bg-hover-color: rgba(43, 42, 48, 1);
  --toolbar-icon-border-color: rgba(60, 62, 66, 1);
  --monospace-content-bg-color: rgba(34, 37, 41, 1);
  --monospace-content-color: rgba(34, 37, 41, 1);
  --monospace-content-border-color: rgba(60, 62, 66, 1);

  --message-send-btn-bg-color: rgba(34, 37, 41, 1);
  --message-send-btn-active-bg-color: rgba(0, 122, 90, 1);
  --message-cancel-btn-color: rgba(203, 201, 205, 1);

  // signIn-signUp page style
  --primary-bg-color: rgba(50, 53, 57, 1);
  --input-border-color: rgb(84, 83, 83);
}

[data-theme='light'] {
  --color-inactive: rgba(153, 152, 155, 1);
  --duration-color: rgba(97, 96, 97, 1);

  --base-color: rgba(255, 255, 255, 1);
  --dark-accent: rgba(63, 14, 64, 1); // Sidebar Color
  --light-accent: rgb(94, 134, 214);

  // text color
  --text-primary: rgba(29, 28, 29, 1);
  --text-secondary: rgba(26, 29, 33, 1);

  // button color
  --primary-btn-text-color: rgba(170, 171, 173, 1);
  --primary-btn-btn-bg-color: rgba(53, 55, 59, 1);
  --primary-btn-border-color: rgba(81, 83, 87, 1);
  --primary-gradient-color: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

  // hover color
  --primary-btn-hover-color: rgb(232, 233, 235);

  // avatar color
  --avatar-bg-color: rgb(234, 235, 236);
  --profile-bg-color: rgba(45, 117, 172, 1);
  --avatar-dm-bg-color: rgba(43, 42, 48, 1);

  // common border
  --primary-border: rgba(221, 221, 221, 1);

  // user status color
  --profile-status-inactive-bg-color: rgba(255, 255, 255, 1);

  // mention color
  --mention-content-color: rgba(29, 155, 209, 1);
  --mention-content-bg-color: rgba(231, 243, 249, 1);

  // scrollbar color
  --scrollbar-track-thumb-color: rgba(133, 133, 133, 0.9);

  // messages container
  --primary-hover-bg-color: rgb(240, 239, 239);
  --edit-delete-btn-border-color: rgb(209, 212, 218);
  --edit-delete-icon-bg-color: rgb(222, 225, 228);
  --edit-delete-icon-color: rgb(52, 49, 49);
  --edit-delete-icon-hover-color: rgba(177, 175, 175, 0.466);

  //message Editor
  --message-sender-editor-bg-color: rgba(255, 255, 255, 1);
  --message-sender-editor-toolbar-bg-color: rgba(248, 248, 248, 1);
  --message-sender-editor-border-color: rgba(226, 226, 226);
  --message-sender-editor-focus-border-color: rgb(193, 190, 190);
  --message-sender-placeholder-color: rgba(188, 188, 188, 1);

  --toolbar-icon-bg-hover-color: rgb(237, 234, 234);
  --toolbar-icon-border-color: rgba(60, 62, 66, 0.2);
  --monospace-content-bg-color: rgba(246, 246, 246, 1);
  --monospace-content-color: rgba(224, 30, 90, 1);
  --monospace-content-border-color: rgb(218, 218, 218, 1);

  --message-send-btn-bg-color: rgba(255, 255, 255, 1);
  --message-send-btn-active-bg-color: rgba(0, 122, 90, 1);
  --message-cancel-btn-color: rgb(0, 0, 0);
}
