$base-color: rgba(26, 29, 33, 1); // Main Background
$dark-accent: rgba(25, 23, 29, 1); // Sidebar Color
$dark-accent-hover: rgba(39, 36, 44, 1);
$light-accent: rgba(34, 37, 41, 1); // Message Sender
$font-color: rgba(209, 210, 211, 1);
$border-color: rgba(43, 42, 47, 1); // Separators
$cta-color: rgba(17, 100, 163, 1);
